<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app>
	<servlet>
		<servlet-name>FrontServlet</servlet-name>
		<servlet-class>etu1945.framework.servlet.FrontServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>FrontServlet</servlet-name>
		<url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>

